<html>
<head>
	<title>EDIT USER</title>
</head>
<body>
	<h1>EDIT USER works!</h1>
	<form action="/users/<%= id %>?_method=PUT" method="POST">
		<input type="text" name="username" value="<%= username %>"></br></br>
		<input type="text" name="email" value="<%= email %>"></br></br>
		<input type="text" name="password" value="<%= password %>"></br></br>
		<input type="text" name="profileImg" value="<%= profileImg %>"></br></br>
		<input type="Submit">
	</form>


	<form action="/users/<%= id %>?_method=DELETE" method="POST">
		<button>DELETE ACCOUNT</button>
	</form>
</body>
</html>