<html>
<head>
	<title>UPDATE</title>
	<link rel="stylesheet" type="text/css" href="/css/users/edit.css">
	<link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAF13D52tQ7DIimjcN7gRz1gkJTZElqPgw"></script>
	<script type="text/javascript" src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
	<script type="text/javascript" src="/js/editShow.js"></script>
</head>
<body>
	<!-- nav bar, with different links for this page -->
	<ul id="nav">
		<li><a href="/" class="navLi"><img id="logoImg" src="/images/logoBlack.png"></a></li>
		<li><a href="/users" class="navLi">TRAVELERS</a></li>
		<li><a href="/trips" class="navLi">TRIPS</a></li>
		<li><a href="/users/<%= id %>" class="navLi">PROFILE</a></li>
		<li><a href="/users/logout" class="navLi">LOGOUT</a></li>
	</ul>

	<form id="editForm" action="/users/<%= id %>?_method=PUT" method="POST">
		<span>USERNAME</span></br>
		<input type="text" name="username" value="<%= username %>"></br></br>
		<span>EMAIL</span></br>
		<input type="text" name="email" value="<%= email %>"></br></br>
		<span>PROFILE IMAGE URL</span></br>
		<input type="text" name="profileImg" value="<%= profileImg %>"></br></br>
		<span>ORIGIN CITY</span></br>
		<input type="text" name="originCity" value="<%= originCity %>"></br></br>
		<button>UPDATE</button>
	</form>


	 <form action="/users/<%= id %>?_method=DELETE" method="POST">
      	<button>DELETE ACCOUNT</button>
    </form>

<!-- footer partial -->
<% include ../partials/footer %>










