<!DOCTYPE html>
<html>
<head>
	<title><%= users.username %></title>
	<link rel="stylesheet" type="text/css" href="/css/users/show.css">
	<link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAF13D52tQ7DIimjcN7gRz1gkJTZElqPgw"></script>
	<script type="text/javascript" src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
	<script type="text/javascript" src="/js/userShow.js"></script>
</head>
<body>
	<% include ../partials/navbar %>

	<div id="profileContainer">
		<div id="profileImg">
			<img src="<%= users.profileImg %>">
		</div>


		<!-- Page title -->
		<div id="userInfo">
			<h1><%= users.username %></h1>
			<p><%= users.originCity %></p>
		</div>
	</div>

	<!-- User trip map -->
	<div id="map-Container">
		<div id="userMap"></div>
	</div>	

	<!-- need if statement, if user id = this user can add trip -->
	<% if (usertrue) { %>
	<% } %>

	<!-- Show list of trips -->
	<div id="tripContainer">
		<h3>ALL TRIPS</h3>
		<ul id="tripUl">
			<% for(var i = 0; i < users.trips.length; i++) { %>
				<!-- These need to link to the trip's show page -->
				<li><a href="/trips/<%= users.trips[i].id %>" class="tripLi"><%= users.trips[i].destination %></a>
					<!-- <input type="hidden" name="trip_id" value="<%= users.trips[i].id %>" /> -->
				</li>
			<% } %>
		<ul>
	</div>

	<!-- need if statement, if user id = this user can edit profile -->
	<% if (usertrue) { %>
		<!-- Link to add a new trip -->
	    <form action="/users/<%= users.id %>/newTrip">
		    <input type="submit" value="ADD TRIP">
		</form>

		<!-- Link to edit profile -->
	    <form id="editProfile" action="/users/<%= users.id %>/edit">
		    <input type="submit" value="EDIT PROFILE">
		</form>
	<% } %>

	<!-- hidden input for user id -->
	<input id="hidden" type="hidden" value="<%= users.id %>">
			

<% include ../partials/footer %>

















