<html>
<head>
	<title>USERS</title>
</head>
<body>
	<!-- nav bar -->
	<a href="/users">See All Users</a>

	<!-- Page title -->
	<h1><%= users.username %>'s Show Page Works!</h1>
	
	<!-- need if statement, if user id = this user can add trip and edit profile -->
	<% if (usertrue) { %>
		<!-- Link to add a new trip -->
	    <a href="/users/<%= users.id %>/trips">ADD TRIP</a>

	<!-- Link to edit profile -->
	<a href="/users/<%= users.id %>/edit" >Edit Your Profile</a>

	<% } %>

	<!-- Show list of trips -->
	<h3>All Trips:</h3>
	<ul>
		<% for(var i = 0; i < users.trips.length; i++) { %>
			<!-- These need to link to the trip's show page -->
			<li><a href="/trips/<%= users.trips[i].id %>"><%= users.trips[i].destination %></a>
				<!-- <input type="hidden" name="trip_id" value="<%= users.trips[i].id %>" /> -->
			</li>
		<% } %>
	<ul>
</body>
</html>