<html>
<head>
	<title>EDIT TRIPS</title>
</head>
<body>
	<!-- nav bar -->
	<h1>EDIT TRIPS works!</h1>
	<form action="/trips/<%= id %>?_method=PUT" method="POST">
		<input type="text" name="destination" value="<%= destination %>"></br></br>
		<input type="text" name="tripImg" value="<%= tripImg %>"></br></br>
		<textarea name="packing_list"><%= packing_list %></textarea></br></br>
		<input type="date" name="date_start" value="<%= date_start %>"></br></br>
		<input type="date" name="date_finish" value="<%= date_finish %>"></br></br>
		<textarea name="itinerary"><%= itinerary %></textarea></br></br>
		<input type="text" name="trip_rating" value="<%= trip_rating %>"></br></br>
		<input type="Submit">
	</form>
</body>
</html>